@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Flex($justify:null,$align:null,$f-wrap:null){
    display: flex;
    justify-content:$justify;
    align-items:$align;
    flex-wrap: $f-wrap;
}